* {
  margin: 0;
  padding: 0;
}

.header{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 2px;
}

.desc-container {
  font-size: 24px;
  padding: 2px;
}

.time-container {
  margin: 5px 0;
  font-size: 22px;
}