li:not(:first-child):not(:last-child) {
  margin: 5px 0;
}

.items {
  text-decoration-color: blue;
  font-size: 20px;
  font-family:fantasy;
}

.btn{
  float: right;
  padding: 2px 10px;
  background-color: green;
  border: 1px solid rgb(64, 62, 62);
  border-radius: 5px;
  color: rgb(25, 7, 7);
  font-size: 20px;
}


